body {
    margin: 0;
    font-family: Satoshi, sans-serif;
    background: #000; /* Ensuring background compatibility */
    color: #fff; /* Default text color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}


/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* Higher than the particles.js z-index */
    position: relative;
    width: 95%;  
    margin-top: 1.5rem;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    font-size: 24px; /* Adjust size as needed */
    font-weight: 500;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  
/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 2; /* Above particles */
    width: 90%;
    margin: 0 auto;
    align-items: center;
   
}

.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.hero p {
    font-size: 2vw;
    font-weight: 400;
    margin-top: 56px;
    margin-bottom: 1vh;
}


.hero h1 {
    font-size: 6vw;
    margin: 0;
    line-height: 1.1;
    font-weight: 900;
    width: 70%;
    margin-bottom: 5vh;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
    width: 70%; 
}

.hero .cta-text {
    flex: 1;
    font-size: 1.5vw;
    width: 50%;
    margin: 0 0;
    font-weight: 400;
}

/* ---- Button Styles ---- */
#contact-me, #hamburger-menu {
    background-color: #00000000; 
    color: #ffffff; 
    padding: 0.75rem 2rem;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #ffffff;
    border-radius: 50px; 
    cursor: pointer;
    width: auto;
    height: auto;
}


.cta-container button {
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    z-index: 2; /* Above particles */
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}



/* Apply pointer-events: none to all text elements over the canvas */
nav span, .hero p, .hero h1, #contact-me {
    pointer-events: none;
}

nav, .hero {
    pointer-events: none;
}

#contact-me, .hero button {
    pointer-events: auto;
}


/* mobile styles */
@media (max-width: 768px) {

    nav {
        margin-top: 0;
    }
    .navbar-left, .navbar-right {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .navbar-left {
        font-size: 5vw;
    }


    
    #contact-me {
        display: none;
    }

    #hamburger-menu {
        font-size: 5vw;
    }
    .hero {
        padding: 1rem;
    }

    .hero h1 {
        font-size: 11vw;
        width: 100%;
        margin-bottom: 3vh;
    }

    .hero p {
        font-size: 4vw;
    }

    .hero .cta-text {
        font-size: 4vw;
        width: 100%;
    }

    .cta-container {
        gap: 3vh;
    }
    .cta-container button {
        font-size: 4vw;
        width: 40vw;
        height: 10vw;
    }

}


